aside{
    background-color: var(--shape-body);
    padding: 4rem;
}

aside h1{
    max-width: 31rem;

    font: var(--h1);
    color: var(--pink);
}

aside p{
    max-width: 31rem;

    font: var(--body-md-aside);
    color: var(--text-heading);
}
