#app{
    display: grid;
    grid-template-columns: 50% 50%;

    height: 100vh;
    overflow: hidden;
}

aside{
    background-image: url(../assests/ilustration/Background.png);
    background-color: var(--shape-body);
    padding: 4rem;
}

aside h1{
    max-width: 31rem;

    font: var(--h1);
    color: var(--pink);
}

aside p{
    max-width: 31rem;

    font: var(--body-md-aside);
    color: var(--text-heading);
}

main{
    background-color: var(--shape-body);

    overflow: auto;
    padding: 4rem;
}

.main-container{

    & h1{
        font: var(--hd-md);
        font-size: 2.75rem;
        color: var(--text-heading);
    }

    max-width: 33rem;
    margin-right: auto;
}