.about{
    
    font: var(--hd-sm);
    color: var(--text-heading);
    
    display: flex;
    align-items: center;

    gap: 1rem;
}

.type{
    position: relative;
    width: 15rem;
    cursor: pointer;
}

.imagem1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 0s ease;
}

.imagem2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    z-index: 2;  
}

#toggle:checked + .type .imagem1 {
  opacity: 0;
}

#toggle:checked + .type .imagem2 {
  opacity: 1;
}

.local-info{
    margin-top: 1rem;
}